@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

#form {
    display: none;
} 

h1 {
    text-align: center;
    font-size: 2.5em;
    margin: 20px;
}

label {
    display: block;
    font-size: 2em;
    padding-bottom: 5px;
}

input {
    font-size: 1.2em;
    border-radius: 5px;
    border: none;
    padding: 10px;
    width: 98%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 25px;
}

th {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}
  
td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 10px; 
}

tr:nth-child(even) {
  background-color: #dddddd; 
}

.desenvolvimento {
    text-align: center;
    margin-top: 60px;
    font-size: 1.3em;
}

.desenvolvimento a {
    font-family: 'Bitter', serif;
    text-decoration: none;
    color: #3993dd;
    transition: .5s;
}

.desenvolvimento a:hover {
    color: #1d84b5;
    transition: .5s;
}

.conteiner-box {
    width: 80%;
    background-color: #F5F5F5;
    padding: 70px;
    border-radius: 10px;
    margin: 50px auto;
}

.container-global {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteiner-box-table {
    min-height: 40vh;
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
    text-align: left;
}

.cadastrados {
    background-color: #F5F5F5;
    margin: 50px;
    padding-bottom: 30px;
    border-radius: 10px;
}

.button-cadastrar {
    font-size: 1.1em;
    display: flex;
    padding: 13px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: #1d84b5;
    color: white;
    cursor: pointer;
}

.buttonExcluir {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    margin: 5px auto;
    background-color: rgb(250, 48, 48);
    color: white;
    border: none;
    padding: 3px;
    cursor: pointer;
    border-radius: 5px;
}

.buttonEditar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    margin: 5px auto;
    background-color: rgb(21, 122, 21);
    color: white;
    border: none;
    padding: 3px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-envia {
    margin-top: 30px;
    padding: 15px;
    width: 150px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(58, 58, 58);
    color: white;
}